absl-py==2.3.1
adrf==0.1.12
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.18.1
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
appdirs==1.4.4
apturl==0.5.2
asgiref==3.11.0
astunparse==1.6.3
async-property==0.2.2
async-timeout==5.0.1
asyncpg==0.31.0
attrs==25.4.0
Authlib==1.6.6
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
blinker==1.9.0
Brlapi==0.8.3
Brotli==1.0.9
cachetools==6.2.4
certifi==2020.6.20
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.4
command-not-found==0.3
cryptography==46.0.3
cupshelpers==1.0
cycler==0.11.0
databricks-sdk==0.80.0
datasets==4.5.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
dill==0.4.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.2.27
django-cors-headers==4.9.0
django-filter==25.1
djangorestframework==3.16.1
docker==7.1.0
docstring_parser==0.17.0
drf-spectacular==0.29.0
duplicity==0.8.21
exceptiongroup==1.3.1
fastapi==0.123.10
fasteners==0.14.1
fastuuid==0.14.0
filelock==3.20.3
Flask==3.1.2
flask-cors==6.0.2
flatbuffers==25.12.19
fonttools==4.29.1
frozenlist==1.8.0
fs==2.4.12
fsspec==2025.10.0
future==0.18.2
gast==0.7.0
git-filter-repo==2.34.0
gitdb==4.0.12
GitPython==3.1.46
google-adk==1.22.1
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
google-cloud-aiplatform==1.133.0
google-cloud-appengine-logging==1.8.0
google-cloud-audit-log==0.4.0
google-cloud-bigquery==3.40.0
google-cloud-bigquery-storage==2.36.0
google-cloud-bigtable==2.35.0
google-cloud-core==2.5.0
google-cloud-discoveryengine==0.13.12
google-cloud-logging==3.13.0
google-cloud-monitoring==2.29.0
google-cloud-pubsub==2.34.0
google-cloud-resource-manager==1.16.0
google-cloud-secret-manager==2.26.0
google-cloud-spanner==3.62.0
google-cloud-speech==2.36.0
google-cloud-storage==3.8.0
google-cloud-trace==1.18.0
google-crc32c==1.8.0
google-genai==1.59.0
google-pasta==0.2.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.3.0
grpc-google-iam-v1==0.14.3
grpc-interceptor==0.15.4
grpcio==1.76.0
grpcio-status==1.76.0
gunicorn==23.0.0
gyp==0.1
h11==0.16.0
h5py==3.15.1
hf-xet==1.2.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
httpx-sse==0.4.3
huey==2.6.0
huggingface_hub==1.3.2
idna==3.3
importlib_metadata==8.7.1
inflection==0.5.1
ipython==7.31.1
itsdangerous==2.2.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.12.0
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
litellm==1.81.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.5.1
matplotlib-inline==0.1.3
mcp==1.25.0
mdurl==0.1.2
ml_dtypes==0.5.4
mlflow==3.8.1
mlflow-skinny==3.8.1
mlflow-tracing==3.8.1
mmh3==5.2.0
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
multidict==6.7.0
multiprocess==0.70.18
namex==0.1.0
narwhals==2.15.0
netifaces==0.11.0
numpy==2.2.6
oauthlib==3.2.0
olefile==0.46
openai==2.15.0
opencv-python-headless==4.13.0.90
opentelemetry-api==1.37.0
opentelemetry-exporter-gcp-logging==1.11.0a0
opentelemetry-exporter-gcp-monitoring==1.11.0a0
opentelemetry-exporter-gcp-trace==1.11.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-resourcedetector-gcp==1.11.0a0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opt_einsum==3.4.0
optree==0.18.0
packaging==25.0
pandas==2.3.3
paramiko==2.9.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
ply==3.11
prompt-toolkit==3.0.28
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.4
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pyarrow==22.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycairo==1.20.1
pycparser==3.0
pycups==2.0.1
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.2
PyGObject==3.42.1
PyJWT==2.10.1
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.1
python-multipart==0.0.21
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
referencing==0.37.0
regex==2026.1.15
reportlab==3.6.8
requests==2.32.5
rich==14.3.1
rpds-py==0.30.0
rsa==4.9.1
safetensors==0.7.0
scapy==2.4.4
scikit-learn==1.7.2
scipy==1.8.0
SecretStorage==3.3.1
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.3.1
SQLAlchemy==2.0.45
sqlalchemy-spanner==1.17.2
sqlparse==0.5.5
sse-starlette==3.2.0
starlette==0.50.0
streamlit==1.53.0
sympy==1.9
systemd-python==234
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
tomli==2.4.0
tornado==6.5.4
tqdm==4.67.1
traitlets==5.1.1
transformers==5.0.0
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uritemplate==4.2.0
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.38.0
vboxapi==1.0
wadllib==1.3.6
watchdog==6.0.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.5
wrapt==2.0.1
xdg==5
xkit==0.0.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
